@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: #009999;
}

header {
    background: white;
    padding: 20px;
}

header>h1 {
    color: #292C34;
    text-align: center;
}

/* DIV with list of levels and button for starting a game */
.starter{
    margin: 50px auto 20px auto;
    text-align: center;
    width: auto;
    max-width: 400px;
    color: white;
    font-size: 20px;
    padding: 45px 20px;
    position: relative;
}

#selectLevel{
    position: absolute;
    top: 30%;
    left: 8%;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
} 

#btSelLvl{
    position: absolute;
    right: 8%;
    top: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    background-color: white;
}

#btSelLvl:hover{
    background-color: rgb(219, 219, 219);
}


/* DIV where stay input field for user number, and button for checking if that number 
is equal with number which one computer made */
.afterStarter{
    margin: 50px auto 20px auto;
    text-align: center;
    width: auto;
    max-width: 400px;
    color: white;
    font-size: 20px;
    padding: 45px 20px;
    position: relative;
}

/* class witch make style of input field where user put his number for trying */
#userNum{
    position: absolute;
    top: 30%;
    left: 8%;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

/* class witch make style of button for tried number */
#tryNum{
    position: absolute;
    right: 8%;
    top: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    background-color: white;
}

#tryNum:hover{
    background-color: rgb(219, 219, 219);
}

/* class witch hide div after starting game */
.hidden{
    display: none !important;
}

/* class witch style list of tries of user */
.userListTry{
    border: 3px solid gray;
    margin: 50px auto 20px auto;
    text-align: center;
    width: auto;
    max-width: 400px;
    height: auto;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    background-color: #6bcaca;
}

/* class witch make style of user tried */
.triesList{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

/* class witch make style of score div when user finish game */
.scoreDiv{
    border: 3px solid gray;
    margin: 50px auto 20px auto;
    text-align: center;
    width: auto;
    max-width: 400px;
    height: auto;
    color: black;
    font-size: 20px;
    padding: 15px 20px;
    background-color: #6bcaca;
}

/* class witch make style of final number of tries */
#numTried{
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

/* class witch make style of button for playing again a game */
#playAgain{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    margin-top: 15px;
}

#firstTwo, #firstTwoSecond{
    color: #0047b3;
    font-weight: bold;
}

/* class witch make style of blinked div "You are the winner!" */
.blinkedGreen {
    color: green;
    animation: blinker 2s linear infinite;
  }

  .blinkedRed {
    color: red;
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .scoreDivBorderBlink{ 
    animation: blinkBorder 1s linear infinite;
}

.scoreDivBorderBlinkWIN{ 
    animation: blinkBorderWIN 1s linear infinite;
}

  @keyframes blinkBorder { 
    50% { border-color: red; } 
 }

 @keyframes blinkBorderWIN { 
    50% { border-color: green; } 
 }
 
 .copyright {
    position: relative;
}

#copy {
    margin-top: 170px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 16px;
    position: -ms-page;
}