@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: #009999;
}

header {
    background: white;
    padding: 20px;
}

header>h1 {
    color: #292C34;
    text-align: center;
}

/* Div u kome se nalazi lista sa nivoima i dugme za pokretanje igre */

.starter{
    margin: 20px auto;
    text-align: center;
    width: auto;
    max-width: 400px;
    color: white;
    font-size: 20px;
    padding: 45px 20px;
    position: relative;
}

#selectLevel{
    position: absolute;
    top: 30%;
    left: 8%;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
} 

#btSelLvl{
    position: absolute;
    right: 8%;
    top: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    background-color: white;
}

#btSelLvl:hover{
    background-color: rgb(219, 219, 219);
}

/* Div u kome se nalazi input polje za unos broja od strane korisnika
   u dugme za proveru da li je taj broj jednak broju koji je racunar generisao */

.afterStarter{
    margin: 20px auto;
    text-align: center;
    width: auto;
    max-width: 400px;
    color: white;
    font-size: 20px;
    padding: 45px 20px;
    position: relative;
}

#userNum{
    position: absolute;
    top: 30%;
    left: 8%;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

#tryNum{
    position: absolute;
    right: 8%;
    top: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    background-color: white;
}

#tryNum:hover{
    background-color: rgb(219, 219, 219);
}

/* class witch hide div after starting game */
.hidden{
    display: none !important;
}